<div class="text-center">
<h1>Editing Cocktail</h1>
</div>
<div class="new">
<%= render 'form', cocktail: @cocktail %>

</div>

<div class="new-button-back btn-medium text-center"><%= link_to 'Show', @cocktail %> |
<%= link_to 'Back', cocktails_path %> </div>


