<div class="text-center">
  <h1>New Cocktail</h1>
  </div>
  <div class="new text-center">

    <%= render 'form', cocktail: @cocktail %>

    <br>
  </div>

    <div class="text-center new-button btn-medium"><%= link_to 'Back', cocktails_path %>
    </div>
