<div class="text-center">
<h1>New Dose</h1>
</div>

  <div class="new text-center">

<%= render 'form', dose: @dose %>

</div>

 <div class="text-center new-button btn-medium"><%= link_to 'Back', cocktail_path(@cocktail) %></div>


