.new {
  margin: 0 500px 200px 500px;
}

.btn-medium-edit {
  color: #999999;
  border: 1px solid #999999;
  background-color: white;
  padding: 10px 25px;
  border-radius: 50px;
  font-weight: lighter;
  opacity: 0.6;
  font-size: 30px;
  font-size: 13px;

}

.new-button {
  margin: 0 650px;
  text-decoration: none;
  color: #999999;
  border: 1px solid #999999;
  padding: 10px 15px;
  border-radius: 50px;
  font-weight: lighter;
  opacity: 0.6;
  font-size: 13px;
}

.new-button-back {
  margin: 0 590px;
  text-decoration: none;
  background-color: #e2e0e0;
  color: #999999;
  border: 1px solid #999999;
  padding: 10px 15px;
  border-radius: 50px;
  font-weight: lighter;
  opacity: 0.6;
  font-size: 13px;
  margin-bottom: 5px;
}

